[run]
branch = True
source = dbldatagen
omit =
    */v1/*
    dbldatagen/v1/*
    dbldatagen/v1/**

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:

ignore_errors = True
omit =
    tests/*
    examples/*
    tutorial/*
    setup.py
    */v1/*
    dbldatagen/v1/*
    dbldatagen/v1/**
