#intellij
.idea/
*.iml
#local spark context data from unit tests
spark-warehouse/
#Build dirctories
env/
build/
target/
project/project/
project/target/
./testData
*.DS_Store
/bin/
/python/dist/
/dist
**/*.pyc
*.egg*
*.py[cod]
build_env/
python/docs/source/relnotes/*.md
python/docs/source/reference/api/*.rst
