#intellij
.idea/
*.iml

#local spark context data from unit tests
spark-warehouse/

# Mac
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Distribution / packaging
env/
build/
target/
project/project/
project/target/
./testData
/bin/
/python/dist/
/dist
**/*.pyc
*.egg*
*.py[cod]
build_env/
docs/source/relnotes/*.md
docs/source/relnotes/*.rst
docs/source/relnotes/*.txt
docs/source/reference/api/*.rst

# code coverage related
.coverage
htmlcov/
