[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

numpy = "1.19.2"
pyspark = ">=3.1.2"
pyarrow = "4.0.0"
pandas = "1.2.4"

sphinx = "5.0.0"
nbsphinx = "*"
numpydoc = "0.8"
pypandoc = "*"
ipython = "7.22.0"
pydata-sphinx-theme = "*"
recommonmark = "*"
sphinx-markdown-builder = "*"

[requires]
python_version = "3.8.11"
