bumpversion]
current_version = 1.0.5
commit = False
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)\-{0,1}(?P<release>\D*)(?P<build>\d*)
serialize = 
	{major}.{minor}.{patch}-{release}{build}
	{major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = final
values =
    prerel
	rc
	final

[bumpversion:part:build]

[bumpversion:file:setup.py]
parse = version = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)\-{0,1}(?P<release>\D*)(?P<build>\d*)

[bumpversion:file:databrickslabs_testdatagenerator/_version.py]

