name: build

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [master]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Unshallow
        run: git fetch --prune --unshallow

      # - name: Cache packages
      #   uses: actions/cache@v2
      #   with:
      #     path: |
      #       ~/go/pkg/mod
      #       ~/.cache/go-build
      #       vendor
      #     key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
      #     restore-keys: |
      #       ${{ runner.os }}-go-
      
      - name: Install 
        run: pip install pipenv
      
      - name: Run tests
        run: make test

      - name: Publish test coverage
        uses: codecov/codecov-action@v1
