name: build

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [master]

jobs:
  tests:
    # Ubuntu latest no longer installs Python 3.9 by default so install it
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # - name: Cache packages
      #   uses: actions/cache@v2
      #   with:
      #     path: |
      #       ~/go/pkg/mod
      #       ~/.cache/go-build
      #       vendor
      #     key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
      #     restore-keys: |
      #       ${{ runner.os }}-go-
      - name: Set Java 8
        run: |
          sudo update-alternatives --set java /usr/lib/jvm/temurin-8-jdk-amd64/bin/java
          java -version
          sudo update-alternatives --config java      

      - name: Set up Python 3.8
        uses: actions/setup-python@v5
        with:
          python-version: '3.8.12'
          cache: 'pipenv'

      - name: Check Python version
        run: python --version

      - name: Install pip
        run: python -m pip install --upgrade pip

      - name: Install 
        run: pip install pipenv

      - name: Install dependencies
        run: pipenv install --dev

      - name: Lint
        run: |
          pipenv run prospector --profile prospector.yaml

      - name: Run tests
        run: make test

      - name: Publish test coverage to coverage site
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          name: dbldatagen
          files: ./coverage.xml

