name: build

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [master]

jobs:
  tests:
    # Ubuntu latest no longer installs Python 3.9 by default so install it
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Unshallow
        run: git fetch --prune --unshallow

      # - name: Cache packages
      #   uses: actions/cache@v2
      #   with:
      #     path: |
      #       ~/go/pkg/mod
      #       ~/.cache/go-build
      #       vendor
      #     key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
      #     restore-keys: |
      #       ${{ runner.os }}-go-

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pipenv'

      - name: Check Python version
        run: python --version

      - name: Install pip
        run: python -m pip install --upgrade pip

      - name: Install 
        run: pip install pipenv

      - name: Install dependencies
        run: pipenv install --dev

      - name: Lint
        run: |
          pipenv run prospector --profile prospector.yaml

      - name: Run tests
        run: make test

      - name: Publish test coverage to coverage site
        uses: codecov/codecov-action@v1
        with:
          files: ./coverage.xml
          name: dbldatagen
          verbose: true
