name: build

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [master]

jobs:
  tests:
    # Ubuntu latest no longer installs Python 3.8 by default so install it
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Unshallow
        run: git fetch --prune --unshallow

      # - name: Cache packages
      #   uses: actions/cache@v2
      #   with:
      #     path: |
      #       ~/go/pkg/mod
      #       ~/.cache/go-build
      #       vendor
      #     key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
      #     restore-keys: |
      #       ${{ runner.os }}-go-

      - name: Set up Python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: '3.8'
          cache: 'pipenv'

      - name: Install 
        run: pip install pipenv

      - name: Install Prospector
        run: pip install prospector

      - name: Install dependencies
        run: pipenv install --dev

      - name: Lint
        run: |
          prospector --profile prospector.yaml

      - name: Run tests
        run: make test

      - name: Publish test coverage to coverage site
        uses: codecov/codecov-action@v1
        with:
          files: ./coverage.xml
          name: dbldatagen
          verbose: true
